/* Your Website Styles */
img {
	width: 400px;
}

h1 {
	text-align: center;
	font-family: 'Oswald', 'sans-serif';
	font-size: 24pt;
	color: maroon;
}

p, ul {
	font-family: 'Oswald', 'sans-serif';
	color: green ;
}

/* Show Grid
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
} */